<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="prefix material-icons">devices_other</i>
                        <input placeholder="Placeholder" id="devictype" type="text" value="{{device}}" disabled >
                        <label for="devictype">Type</label>
                    </div>
                </div>
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="prefix material-icons">account_circle</i>
                        <input class="disabled" id="devicename" type="text" value="{{name}}" disabled >
                        <label for="devicename">Device name</label>
                    </div>
                </div>
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="prefix material-icons">wb_incandescent</i>
                        <input class="disabled" id="deviceon" type="text" value="{{on}}">
                        <label for="deviceon">On command</label>
                    </div>
                </div>
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="prefix material-icons">brightness_3</i>
                        <input placeholder="Placeholder" id="deviceoff" type="text" value="{{off}}">
                        <label for="deviceoff">Off command</label>
                    </div>
                </div>

                <div class="col s12 right">
                    <button class="btn-flat red left" id="deleteDevice">Delete</button>
                    <button class="btn-flat blue right" id="saveSettings">Save</button>
                </div>

                <div class="col s12">
                    <h5>Url's</h5>
                </div>

                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="prefix material-icons clipboard" title="click to copy">file_copy</i>
                        <input placeholder="Placeholder" id="urlon" type="text" value="" readonly>
                        <label for="urlon">On Url</label>
                    </div>
                </div>
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="prefix material-icons clipboard" title="click to copy">file_copy</i>
                        <input placeholder="Placeholder" id="urloff" type="text" value="" readonly>
                        <label for="urloff">Off Url</label>
                    </div>
                </div>
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="prefix material-icons clipboard" title="click to copy">file_copy</i>
                        <input placeholder="Placeholder" id="urlstate" type="text" value="" readonly>
                        <label for="urlstate">State Url</label>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br><br>
</div>
